.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.tab {
    border: 2px solid darkgray;
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.tab__list {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.tab__body {
    text-align: center;
}

.tab__item {
    margin-right: 30px;
    font-style: 18px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: darkgrey;
    border-radius: 5px;
}

.tab__item:last-child {
    margin-right: 0;
}

.tab__item--active {
    background-color: tomato;
    color: white;
}

.tab--hidden {
    display: none;
}

.color-container {
    width: 100%;
    height: 100%;
}

.color-container_text {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.code_color {
    width: 100%;
    height: 500px;
}

.border__container {
    width: 500px;
    height: 500px;
    background-color: red;
    display: flex;
}

.container-cont {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-around;
}

.left-top {
    background-color: red;
    grid-area: left-top;

}
.right-top {
    background-color: green;
    grid-area: right-top;
}
.center-radius {
    justify-self: center;
    align-self: center;
    background-color: blue;
    grid-area: center;
    width: 500px;
    height: 400px;
    margin: 50px;
}

.bottom {
    display: flex;
    justify-content: space-around;
}

.left-bottom {
    background-color: gray;
    grid-area: left-bottom;

}
.right-bottom {
    background-color: orange;
    grid-area: right-bottom;

}

/* form */
.form__field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    padding: 100px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 20px;
}

.form__label {
    margin-top: 30px;
}

.button {
    margin-top: 30px;
    background-color: rgb(128, 190, 240);
    padding: 5px 30px;
    border-radius: 5px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.modal-active {
    display: flex;
}